<!doctype html>
<html ng-app="roulette">
<head>
	<script src="http://code.angularjs.org/1.2.0rc1/angular.js"></script>
    	<script src="http://code.angularjs.org/1.2.0rc1/angular-animate.min.js"></script>
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
	<script src="roulette.js"></script>
	<link rel="stylesheet" href="bootstrap/css/bootstrap.css">
	<link rel ="stylesheet" href="roulette.css"></script>
</head>

<body>
<div class = "main" ng-controller="RouletteCtrl">
<div class = "intro" ng-hide = "Condition">
	<strong>Welcome to Roulette Room!</strong>
	<input type="text" ng-model="Name" placeholder="Your name...">
	<hr>
	Currently, you have {{racun}} credit on your account
	<br>
	Add credit to start the game!
	<br>
	<input type="number" ng-model="kredit" placeholder="Amount">
	<button ng-click="addKredit(kredit)">Add</button>
</div>
<div class="game" ng-show = "Condition">
	<h4><strong>Hi {{Name}}, enjoy the game and good luck!</strong></h4>
	<br>
	<h5>You have <span class="racun">{{racun}}</span></strong> credit on your account</h5>
	<br>
	<span>Increase Fast Bet (Currently {{brziUlog}}) and bet easier clicking on <i class="icon-plus-sign icon-large icon-black"></i> button</span>
	<input class="fast-bet" type="number" ng-model="brziUlog" placeholder="Brzi Ulog">
	<br>
	<div class = "user-bets" ng-repeat = "bets in userBets">
		Current bets : {{bets}}
	</div>

	<div id="random">
		<strong>Current number : </strong>{{currentNumber}}
		<br>
		<strong>Previous numbers : </strong> {{prevNumbers | limitTo:-10}}
	</div>
	<br>
	<span>{{Condition}}</span>
	<br><br>
	
	<div> Total balance this round {{totalBalance}} <br> {{moze}}</div>

	<div >
	<table>
	<tr>
	<td ng-repeat="bets in betTypes" valign='top'>
	<div class="bet-type">
	<span><strong>{{bets.BName}}</strong><br></span>
			<span ng-repeat="id in bets.Serial">
				{{bets.Serial[id]}}
				<input class ="input-number" type="number" ng-model="ulog" placeholder="Ulog" size="2">
				<button ng-click = "fillUserBets(bets.BType,bets.Serial[id],ulog)">Bet</button>
				<button ng-click = "addFast(bets.BType,bets.Serial[id],brziUlog)"><i class="icon-plus-sign icon-large icon-black"></i></button>
			<br>
			</span>
	</tr>
	</div>
	</table>
	</div>

</div>



</div>
</body>
</html>
